@model P2Hospital.Models.OPME

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OPME</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoClassificao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoClassificao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermeiro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermeiro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
